@import url(http://fonts.googleapis.com/css?family=Rokkitt);
 
 body {
    background-image: url("https://images5.alphacoders.com/360/360513.jpg");
}

 h1 {
    font-family:'Rokkitt', serif;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    font-family:'Rokkitt', serif;
    font-size: 2em;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;
}
p {
    font-family:'Rokkitt', serif;
}

/* Trivia Classes */
 .quizContainer {
    background-color: lightgoldenrodyellow;
    border-radius: 6px;
    width: 75%;
    margin: auto;
    padding-top: 5px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    position: relative;
}
.nextButton {
    box-shadow: 3px 3px 5px #888;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    text-align: center;
    background-color: yellow;
    /*clear: both;*/
    color: black;
    font-family:'Rokkitt', serif;
    font-size: 19px;
    position: relative;
    margin: auto;
    padding-top: 15px;
}
.question {
    font-family:'Rokkitt', serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: lightgrey;
    text-align: center;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Rokkitt', serif;
    color: red;
}
.choiceList {
    font-family: Courier, serif;
    color: yellow;
}
.result {
    width: 30%;
    height: auto;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
    text-align: center;
    font-family:'Rokkitt', serif;
}

.timer {
        width: 20%;
        height: 11%;
        position: absolute;
        margin: 0 auto;
        top: 20%;
        right:  5%;
        background-color: rgba(0,0,0,.5);
        color: red;
        border-radius: 10px;
        border: lightgrey 3px;
        display: flex;
        font-family: 'Rokkitt', serif;
        align-items: center;
        justify-content: center;
    }